.container-deus {
	display: flex;
	background-color: #f9f9f9;
	min-width: 100%;
}
.sidebar-menu {
	height: 100vh;
	background: black;
	width: 15%;
	max-width: 215px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.some {
	
	display: none;	

}	
.sidebar-menu .sidebar-menu-itens {
	color: white;
	font-size: 30px;
	font-family: 'Arial';
	text-transform: uppercase;
	text-align: center;
	
}

.sidebar-menu .sidebar-menu-itens li {
	margin-bottom: 50px;
	
}

.sidebar-menu-itens-principal{
	color: yellow !important;
	
}

.sidebar-menu .sidebar-menu-itens li a {
	text-decoration: none;
	color: white;
}
.sidebar-menu-itens-clean{
	color: red!important;
}
.input-father{
	display: flex;
	justify-content: center;
	align-items: center;
}
.input{
	display: hidden;
	justify-content: center;
	align-items: center;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 2px rgba(148,148,148,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(148,148,148,1);
	box-shadow: 0px 0px 5px 2px rgba(148,148,148,1);
	padding: 10px;
	margin-left: 10px;
}

.input form {
	
}
#myCanvas {
	border:1px solid #000000;
}
.grafico{
	width: 75%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

#coordenadas{
	position: absolute;
	left: 10%;
	bottom: 0;
}
.chamaGrafico {
	cursor: pointer;
}